@model WebPresentation.Models.ApplicationUser

@{
    ViewBag.Title = "List of Roles";
}

<h2>List of Roles</h2>


<table class="table">
    @{
        foreach (string role in ViewBag.Roles)
        {
            <tr>
                <td>@role</td>
                <td>@Html.ActionLink("Remove", "Remove", new { id = role + "|" + Model.Id }) |</td>
            </tr>
        }

        foreach (string role in ViewBag.UnusedRoles)
        {
            <tr>
                <td>@role</td>
                <td>@Html.ActionLink("Add", "Add", new { id = role + "|" + Model.Id }) |</td>
            </tr>
        }
    }
</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
